.Game {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: arial;
}

.Game svg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: pink;
  z-index: 0;
}
