.Menu {
  font: wingdings;
}

.Menu-floating {
  z-index: 2;
  position: absolute;
  top: 5px;
  left: 5px;
  backdrop-filter: contrast(0.7);
  /*font-size: 150%;*/
}

.Menu-stationary {
  background-color: cyan;
  padding: 10px;
}

.Menu a, .Menu button {
  color: #333;
  padding: 5px;
  margin: 0px;
  font-size: 12px;
}

.logo {
  float: left;
  height: 15px;
  margin-right: 20px;
  margin-left: 10px;
}
